mortgage-app/main/default/flows/Create_Daily_Interest_Transaction_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>All_Dates_Calculated</name>
        <label>All Dates Calculated</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SummaryHeader_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Dates_Are_Calcuated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>All Dates Are Calcuated</label>
        </rules>
    </decisions>
    <formulas>
        <name>NextDate</name>
        <dataType>Date</dataType>
        <expression>{!Date}+1</expression>
    </formulas>
    <interviewLabel
    >Create Daily Interest Transaction v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Daily Interest Transaction v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Interest_Transaction</name>
        <label>Interest Transaction</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>CurrentInterestAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Mortgage_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoMoreText</name>
            <fieldText
            >&lt;p&gt;No more dates require calculating&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SummaryHeader_0</name>
        <label>Summary</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Interest_Transaction</targetReference>
        </connector>
        <fields>
            <name>SummaryText_0</name>
            <fieldText
            >&lt;p&gt;Date: {!Date}&lt;/p&gt;&lt;p&gt;Balance: {!CurrentBalance}&lt;/p&gt;&lt;p&gt;Interest Rate: {!CurrentInterestRate}&lt;/p&gt;&lt;p&gt;Interest Amount: {!CurrentInterestAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Interest_Amount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Interest_Amount</name>
        <label>Get Interest Amount</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>All_Dates_Calculated</targetReference>
        </connector>
        <flowName>Create_Daily_Interest_Transaction</flowName>
        <outputAssignments>
            <assignToReference>CurrentBalance</assignToReference>
            <name>Balance</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Date</assignToReference>
            <name>Day</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentInterestAmount</assignToReference>
            <name>InterestAmount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentInterestRate</assignToReference>
            <name>InterestRate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CurrentBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentInterestAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentInterestRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
