mortgage-app/main/default/flows/Create_Daily_Interest_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Balance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
                >Loop_Transactions.Amount_Real_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Interest</name>
        <label>Set Interest</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>InterestAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterestAmountFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InterestRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Get_Interest_Rate.Per_Annum__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Last_Interest_Transaction_Date</name>
        <label>Set Last Interest Transaction Date</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Transactions</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>InterestAmountFormula</name>
        <dataType>Number</dataType>
        <expression
        >({!Balance}*({!Get_Interest_Rate.Per_Annum__c}/100))/365</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NextDay</name>
        <dataType>Date</dataType>
        <expression>{!Get_Last_Interest_Transaction.Date__c}+1</expression>
    </formulas>
    <interviewLabel
    >Get Last Interest Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Daily Interest Transaction</label>
    <loops>
        <name>Loop_Transactions</name>
        <label>Loop Transactions</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Interest_Rate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Interest_Rate</name>
        <label>Get Interest Rate</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Interest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Day</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interest_Rate__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Interest_Transaction</name>
        <label>Get Last Interest Transaction</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
            >Set_Last_Interest_Transaction_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mortgage_Transaction__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transactions</name>
        <label>Get Transactions</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Day</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mortgage_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Interest_Transaction</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Balance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Day</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InterestAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InterestRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
