mortgage-app/main/default/flows/Create_Daily_Interest_Transaction_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Amount</name>
        <label>Add Amount</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CurrentBalance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Withdrawals.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Withdrawals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Interest_Rate</name>
        <label>Set Interest Rate</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>CurrentInterestRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Interest_Rate.Per_Annum__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SummaryHeader_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Transaction_Date</name>
        <label>Set Last Transaction Date</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_Interest_Transaction_0.Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Dates_Calculated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Dates_Calculated</name>
        <label>All Dates Calculated</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Transactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Dates_Are_Calcuated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>All Dates Are Calcuated</label>
        </rules>
    </decisions>
    <formulas>
        <name>DayNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate}-{!$Setup.Mortgage_Details__c.Settlement_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>InterestAmount</name>
        <dataType>Currency</dataType>
        <expression>({!CurrentBalance}*({!CurrentInterestRate}/100))/365</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NextDate</name>
        <dataType>Date</dataType>
        <expression>{!Date}+1</expression>
    </formulas>
    <interviewLabel>Create Daily Interest Transaction v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Daily Interest Transaction v2</label>
    <loops>
        <name>Add_Withdrawals</name>
        <label>Add Withdrawals</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_Interest_Rate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Interest_Transaction</name>
        <label>Interest Transaction</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>InterestAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>NextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </inputAssignments>
        <object>Mortgage_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Interest_Transaction_0</name>
        <label>Get Last Interest Transaction</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Last_Transaction_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mortgage_Transaction__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Interest_Rate</name>
        <label>Get Latest Interest Rate</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Interest_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>NextDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Interest_Rate__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transactions</name>
        <label>Get Transactions</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Withdrawals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>NextDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mortgage_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoMoreText</name>
            <fieldText>&lt;p&gt;No more dates require calculating&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SummaryHeader_0</name>
        <label>Summary</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Interest_Transaction</targetReference>
        </connector>
        <fields>
            <name>SummaryText_0</name>
            <fieldText>&lt;p&gt;Date: {!NextDate}&lt;/p&gt;&lt;p&gt;Balance: {!CurrentBalance}&lt;/p&gt;&lt;p&gt;Interest Rate: {!CurrentInterestRate}&lt;/p&gt;&lt;p&gt;Interest Amount: {!InterestAmount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Interest_Transaction_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentInterestRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
